#version: '3.9'
volumes:
  mysql_data_volume:
    driver: local
    driver_opts:
      type: none
      device: d:/docker/data/mysql_data
      o: bind

networks:
  backend:
    name: backend_network
    external: false
  frontend:
    name: frontend_network
services:
  database:
    container_name: mysql-container
    image: mysql:latest
    environment:
      - MYSQL_ROOT_PASSWORD=bob
      - MYSQL_DATABASE=wp_db
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - mysql_data_volume:/var/lib/mysql
      #- d:/docker/data/mysql_data:/var/lib/mysql
    networks:
      - backend
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -pbob || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  phpmyadmin:
    container_name: phpmyadmin-container
    image: phpmyadmin:latest
    environment:
      - PMA_HOST=database
      - PMA_USER=${MYSQL_USER}
      - PMA_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - "8080:80"
    networks:
      - frontend
      - backend
    depends_on:
      - database

  wordpress:
    container_name: wordpress-container
    image: wordpress:latest
    environment:
      - WORDPRESS_DB_HOST=database:3306
      - WORDPRESS_DB_USER=${MYSQL_USER}
      - WORDPRESS_DB_PASSWORD=${MYSQL_PASSWORD}
      - WORDPRESS_DB_NAME=wp_db
    ports:
      - "8000:80"
    networks:
      - frontend
      - backend
    depends_on:
      - database
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost/wp-login.php || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
